.character-sheet {
  background-color: var(--blue-dark-0);
  height: 100%;
  overflow-y: auto;
}

.character-navbar {
  display: flex;
  gap: 0.1rem;
  background-color: var(--blue-dark-2);

  &__tab {
    padding: 0.2rem 0.3rem;
    background-color: var(--blue-dark-0);
    border-radius: 0;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;

    &--selected {
      border-bottom: 2px solid var(--blue-light-0);
    }
  }
}

.character-sheet-main {
  padding: 0.8rem;

  &__row {
    display: flex;
    gap: 1rem;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .character-sheet-main-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &__character-info {
      display: flex;
      gap: 0.8rem;
    }

    &__character-pic {
      object-fit: cover;
      width: 6.5rem;
      height: 6.5rem;
      border-radius: 50%;
    }

    &__name {
      font-size: var(--font-xl);
    }
    
    &__right {
      display: flex;
      gap: 1rem;
    }

    &__rest-buttons {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      button {
        width: 100%;
      }
    }

    &__lvl-manager {
      display: flex;
      flex-direction: column;

      p {
        margin-bottom: 0.3rem;
      }
    }
  }

  .character-sheet-ability-scores {
    display: flex;
    gap: 0.4rem;
  }

  .character-sheet-saving-throws {
    &__title {
      margin: 0.6rem 0 0.5rem;
    }

    &__list {
      display: flex;
      gap: 0.4rem;
    }
  }

  .character-sheet-attributes {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: fit-content;

    &__row {
      display: flex;
      flex-wrap: wrap;
      gap: 0.8rem;
    }
  }
}
