.characters-page {
  padding: 2rem;

  h2 {
    font-size: var(--font-xl);
  }
}

.characters-list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  overflow-y: auto;
  max-height: 87vh;
  width: fit-content;

  &__title {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    margin-bottom: 0.5rem;

    h2 {
      margin: 0;
    }
  }
}

.character-card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--bg-1);
  border-radius: 1rem;
  width: 40rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  h3 {
    font-size: var(--font-lg);

    span {
      font-weight: 300;
    }
  }

  &__pic, .file-input img {
    object-fit: cover;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
  }

  &__ruleset {
    position: absolute;
    right: 0.6rem;
    bottom: 0.4rem;
    font-size: var(--font-lg);
    font-weight: bold;
  }

  &__open-btn {
    margin-top: 0.3rem;
  }

  &__delete-btn {
    img {
      width: 1.2rem;
    }
  }
}

.new-character-card {
  flex-wrap: wrap;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    label {
      margin-top: 0;
    }
  }
}
