.dice-box {
  background-color: var(--background-color-2);
  width: 98%;
  height: 100%;
  max-height: 26rem;
  margin-top: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 0.2rem;
  position: relative;

  h3 {
    margin: 0.3rem;
    border-bottom: solid 0.18rem;
  }

  &__log {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 69%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    position: absolute;
    width: 100%;

    p {
      max-width: 18.5rem;
    }

    &::-webkit-scrollbar {
      width: 0.45rem;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--menu-color-3);
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 48px rgba(0, 0, 0, 0.3);
    }
  }

  &__dice-buttons {
    background-color: var(--background-color-1);
    padding: 1rem;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    justify-content: center;
  }

  @media (max-width: 1184px) {
    display: none;
  }

  &--pop-out {
    display: block;
    position: absolute;
    right: 0;
    top: 27.5rem;
    max-width: 20rem;
    max-height: 26rem;

    .dice-box__log {
      overflow-y: auto;
      max-height: 67.5%;
    }
  }
}
