.dice-icon {
  position: relative;

  p {
    position: absolute;
    inset: 0;
    width: fit-content;
    min-width: 2rem;
    height: fit-content;
    margin: auto;
    padding: 0.3rem;
    font-size: var(--font-md);
    background: radial-gradient(#0000007f, #00000000);
    font-weight: bold;
    border-radius: 50%;
  }
}
