.game-page {
  display: flex;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.game-content {
  width: 100%;

  &--box {
    display: flex;
    height: 90vh;
  }
}

.grid-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin-top: 0.8rem;
  margin-right: 0.5rem;
  border: 2px solid var(--grid-border-color);
  background-color: var(--bg-color-1);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
