.list-display {
  ul {
    list-style: none;
    padding: 0;
    background-color: var(--brown-1);
    margin: 0.3rem 0 0 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    li {
      padding: 0.22rem;
    
      &:nth-child(odd) {
        background-color: var(--brown-2);
      }
    }
  }
}
