.navbar {
  display: flex;
  padding: 0.4rem;
  background-color: var(--bg-0);
  border-bottom: 2px solid var(--magenta-2);
  gap: 2rem;
  margin-bottom: 1rem;

  &--open {
    .navbar__link,
    .navbar__userbox {
      display: block;
    }
  }

  &__hamburger-btn {
    display: none;
  }

  @media (max-width: 950px) {
    flex-direction: column;

    &__hamburger-btn {
      display: block;
      width: fit-content;

      img {
        width: 1.4rem;
      }
    }

    &__link {
      display: none;
    }
  }

  &__logo {
    width: 2.4rem;
  }

  &__link {
    color: white;
    transition: all ease-in-out 0.2s;
    font-size: var(--font-lg);

    &--active {
      color: var(--pink-1);
      border-bottom: 1px solid var(--pink-1);
      
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.user-box {
  display: flex;
  border-bottom-left-radius: 1rem;
  gap: 1rem;
  position: absolute;
  top: -2px;
  right: 0;
  align-items: baseline;

  &__menu {
    position: absolute;
    top: 3.1rem;
    right: 0;
    background-color: var(--bg-1);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  img {
    width: 2.3rem;
  }
}
