.right-click-menu {
  position: absolute;
  background-color: var(--menu-color-1);
  padding: 0.5rem;
  border-radius: 0.5rem;
  min-width: 8rem;
  min-height: 4rem;

  &__btn {
    background-color: var(--menu-color-2);
    color: white;
    width: 100%;
  }
}
