.sidebar {
  background-color: var(--bg-color-2);
  padding: 0 0.4rem;
  box-shadow: var(--depth-0);
  max-width: 10rem;
  min-width: 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    padding: 0.62rem;

    &:first-child {
      margin-top: 0.4rem;
    }
  }
}
