.toolbar {
  width: 98%;
  background-color: var(--background-color-2);
  display: flex;
  padding: 10px;
  box-shadow: var(--depth-0);
  gap: 0.5rem;
  max-height: 2rem;

  &__btn {
    background-color: var(--btn-color-0);
    color: white;
  }

  &__leave-btn {
    cursor: pointer;
    margin: 0.4rem 0;
  }

  &__text {
    margin: 0.4rem 0;
  }
}

.players-list {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  background-color: grey;
  color: white;
  padding: 0.5rem;
}
