.dnd-character-modification-process {
  display: flex;
  justify-content: flex-start;
  width: 40rem;

  .setup-step {
    margin: 0 auto;

    &__join-game {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      margin: 0.3rem 0 1rem;
      align-items: center;
    }

    &__join-game-code {
      display: flex;
      gap: 0.3rem;

      input {
        margin: 0;
      }

      button {
        align-self: flex-end;
      }
    }
  }

  .classes-step {
    &__class-options {
      margin-right: 5rem;

      button {
        width: 100%;
      }
    }

    &__class-select-btn {
      position: absolute;
      bottom: 0.5rem;
      width: 3rem !important;
    }

    &__lvl-container {
      position: absolute;
      top: -0.05rem;
      
      p {
        font-size: var(--font-sm);
        white-space: nowrap;
      }

      button {
        padding: 0;
        width: 1rem;
        font-size: var(--font-md);
        font-weight: bold;
      }
    }
    
    &__class-option {
      display: flex;
      gap: 0.3rem;
      margin-bottom: 0.3rem;
    }
  }
}
