.dnd-character-modification-process {
  .setup-step {
    &__join-game {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      margin: 0.3rem 0 1rem;
      align-items: center;
    }

    &__join-game-code {
      display: flex;
      gap: 0.3rem;

      input {
        margin: 0;
      }

      button {
        align-self: flex-end;
      }
    }
  }
}
