.dnd-character-modification-process {
  display: flex;
  justify-content: flex-start;
  width: 40rem;

  .setup-step {
    margin: 0 auto;

    &__join-game {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      margin: 0.3rem 0 1rem;
      align-items: center;
    }

    &__join-game-code {
      display: flex;
      gap: 0.3rem;

      input {
        margin: 0;
      }

      button {
        align-self: flex-end;
      }
    }
  }

  .classes-step {
    &__class-options {
      margin-right: 5rem;

      button {
        width: 100%;
      }
    }

    &__class-select-btn {
      position: absolute;
      bottom: 0.5rem;
      width: 3rem !important;
    }

    &__lvl-container {
      position: absolute;
      top: -0.05rem;
      
      p {
        font-size: var(--font-sm);
        white-space: nowrap;
      }

      button {
        padding: 0;
        width: 1rem;
        font-size: var(--font-md);
        font-weight: bold;
      }
    }
    
    &__class-option {
      display: flex;
      gap: 0.3rem;
      margin-bottom: 0.3rem;
    }
  }

  .class-options-step {
    margin: 0 auto;

    &__class {
      margin-bottom: 1rem;
      background-color: var(--bg-1);
      padding: 0.5rem;
      border-radius: 0.3rem;

      h1 {
        font-size: var(--font-lg);
        margin: 0 0 0.5rem;
      }
    }

    &__skills {
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    &__starting-items {
      margin-top: 1rem;
    }

    &__starting-item-desc {
      display: block;
      white-space: pre-wrap;
      background: var(--bg-1);
      padding: 0.3rem;
      border-radius: 0.2rem;
      margin: 0.25rem 0 0.8rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}
