.dashboard-page {
  padding: 2rem 2rem 0;

  h1 {
    font-size: 5.5rem;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-top: 0;
    margin-right: 5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__join-room-input {
    margin-right: 0.3rem;
  }

  &__links-list {
    display: flex;
    gap: 0.3rem;

    a {
      text-decoration: none;
      color: black;
      padding: 0.5rem;
      border-radius: 5px;
      transition: all ease-in-out 0.3s;
      box-shadow: #0000001a 0 4px 12px;
      cursor: pointer;
      background-color: var(--bg-color-2);

      &:hover {
        transform: scale(1.025, 1.025);
      }
    }
  }

  &__user-box {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background-color: var(--bg-color-1);
    border-bottom-left-radius: 0.3rem;
    display: flex;

    p {
      color: white;
    }
  }

  @media (max-width: 900px) {
    h1 {
      font-size: 3rem;
    }
  }
}
