.form-modal {
  position: absolute;
  top: 10rem;
  left: 38%;
  background-color: var(--background-color-2);
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 0.3rem;
  width: 100%;
  max-width: 16rem;

  input {
    margin: 0.2rem 0 0.8rem;
  }
}
