.form-modal {
  position: absolute;
  top: 10rem;
  left: 43%;
  background-color: var(--background-color-2);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 16rem;
  z-index: 2;
  text-align: center;

  &__title {
    margin: 0 0 0.5rem;
    cursor: move;
  }

  &__close-btn {
    border: none;
    background-color: var(--background-color-2);
    margin: 0;
    box-shadow: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  label {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 11rem;
  }

  input {
    margin: 0.2rem 0 0.8rem;
  }
}
