.character-sheet {
    position: absolute;
    top: 0.3rem;
    right: 6.8rem;
    background-color: var(--menu-color-0);
    color: white;
    padding: 0.5rem 0.5rem 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    max-width: 25rem;
    min-width: 25rem;
    min-height: 33.6rem;
    z-index: 1;
    font-weight: 350;
    display: block;
    
    &__sidebar {
        position: absolute;
        right: -6.44rem;
        top: 0;
        height: 100%;
        background-color: var(--color-red-1);
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        min-width: 6.44rem;

        &--hidden {
            min-width: 0;
            right: -1.69rem;
        }

        &--collapsed {
            width: 1.4rem;
            right: -1.4rem;
            min-width: 0px;
        }
    }

    &__sidebar-btn {
        margin: 0 0.3rem;
        background-color: #b07776;
        color: white;

        &--toggle {
            background-color: #b07776;
            font-size: 1.2rem;
            border-radius: 0px;
            margin-bottom: 0.3rem;
        }
    }

    &__header {
        @include red-border(3px);
        align-items: center;
        cursor: move;
        display: flex;
        gap: 0.8rem;

        img {
            max-width: 10rem;
            height: auto;
        }

        p {
            margin: 0;
        }

        &--block {
            display: block;

            h2 {
                margin: 0;
            }
        }

        &--title {
            margin: 0.4rem 0 0;
            font-size: 1.4rem;
        }
    }
}
