.right-content {
  width: 100%;
  max-width: 20rem;

  .right-side-button {
    &--chat {
      position: absolute;
      right: -0.4rem;
      top: 0.5rem;
      transform: rotate(-90deg);
      display: none;
      z-index: 2;
    }

    &--dice {
      position: absolute;
      right: -1.2rem;
      top: 4.5rem;
      transform: rotate(-90deg);
      display: none;
      z-index: 2;
    }
  }

  @media (max-width: 1020px) {
    max-width: 1rem;

    .right-side-button {
      &--chat {
        display: block;
      }

      &--dice {
        display: block;
      }
    }
  }
}
