@use './settings/colors.scss';
@use './settings/fonts.scss';
@use './components/library/button.scss';
@use './components/library/input.scss';
@use './components/library/select.scss';
@use './components/library/link.scss';
@use './components/library/error.scss';
@use './components/home/home.scss';
@use './components/home/user-box.scss';
@use './components/home/games-list.scss';
@use './components/login.scss';
@use './components/characters.scss';

* {
  box-sizing: border-box;
  font-family: Petrona, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--font-md);

  &::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 1rem;
    padding-top: 0.3rem;
  }
  
  &::-webkit-scrollbar-track {
    border-radius: 1rem;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--purple-dark-2);
    border-radius: 1rem;
  }
}

body {
  margin: 0;
  color: var(--white-0);
  background: url('/images/bg.jpg') no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-position-y: 75%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5rem;
}

h1 {
  font-size: var(--font-title);
  text-shadow: 2px 3px 5px var(--black-0);
  font-family: Metamorphous, Avenir, Helvetica, Arial, sans-serif;
  margin-top: 2rem;

  @media (max-width: 950px) {
    margin-top: 4rem;
  }
  
  @media (max-width: 603px) {
    font-size: calc(var(--font-title) * 0.5);
  }
  
  @media (max-width: 396px) {
    font-size: calc(var(--font-title) * 0.3);
  }
}

h2 {
  font-size: var(--font-lg);
  font-family: Metamorphous, Avenir, Helvetica, Arial, sans-serif;
}

p {
  margin: 0;
  font-size: var(--font-md);
}

.form__footer {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  margin-top: 1.5rem;
}
