.register-page {
    display: flex;
    justify-content: center;
}

.box__form {
    &--register-user-form {
        margin-top: 20%;
        background-color: var(--background-color-1);
        position: relative;

        h1 {
            font-size: 2.5rem;
        }

        button {
            margin-top: 1rem;
            padding: 0.5rem;
            font-size: 0.7em;
        }

        a {
            font-size: 0.76em;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 1.3rem;
        }

        input {
            margin-top: 0.2rem;

            &::placeholder {
                color: var(--text-color-0);
            }
        }

        label {
            align-items: center;
        }
    }

    &--register-username {
        margin-bottom: 0.5rem;
    }
}
