.sidebar {
    background-color: var(--background-color-2);
    padding: 0 0.4rem;
    box-shadow: var(--depth-0);
    max-width: 10rem;
    min-width: 8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    // height: 100vh;

    &__btn {
        padding: 0.62rem;
        background-color: var(--btn-color-0);
        color: white;

        &:first-child {
            margin-top: 0.4rem;
        }
    }

    @media (max-width: 748px) {
        min-width: 100%;
        min-height: 12vh;
        flex-direction: row;
        flex-wrap: wrap;
    
        .game-page {
            flex-wrap: wrap;
        }
        
        .game-content {
            margin-left: 2rem;
        }
    }
}
