.dashboard-page {
  margin: 1rem;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
}

.games-list {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  background-color: var(--background-color-1);
  border-radius: 5px;
  box-shadow: var(--depth-1);
  margin-left: 1rem;
  max-width: 11.1rem;
}

.game-list__item {
  padding: 1.6rem;
  background-color: var(--background-color-2);
  border-radius: 5px;
  margin-bottom: 0.7rem;
  transition: all ease-in-out 200ms;
  box-shadow: var(--depth-3);
  font-size: 1.2rem;
  max-width: 8rem;
  text-align: center;
}
.game-list__item:hover {
  cursor: pointer;
  transform: scale(1.02, 1.02);
}

.game-page {
  display: flex;
  gap: 1rem;
}

.grid-container {
  overflow: hidden;
  height: 90vh;
  width: 80vw;
  margin-top: 0.8rem;
  border: 2px solid var(--grid-border-color);
  border-top: 2.8px solid var(--grid-border-color);
  background-color: var(--background-color-1);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid {
  --grid-x: 25;
  --grid-y: 25;
  --size: 30px;
  --map-background: rgb(237 237 237 / 52%);
  --grid-color: rgb(0 0 0);
  transform: translate(0px, 0px);
  height: calc(var(--size) * var(--grid-y));
  width: calc(var(--size) * var(--grid-x));
  display: grid;
  grid-template-columns: repeat(var(--grid-x), var(--size));
  grid-template-rows: repeat(var(--grid-x), var(--size));
  box-shadow: 0 -1px var(--grid-color), 1px 0 var(--grid-color), 1px -1px var(--grid-color);
  background: repeating-linear-gradient(90deg, var(--grid-color) 0, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) var(--size)), repeating-linear-gradient(0deg, var(--grid-color) 0, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) var(--size)), var(--map-background);
  background-repeat: no-repeat;
  background-size: cover;
}
.grid__cell {
  position: relative;
}

.occupied--enemy {
  background-color: var(--enemy-background);
}

.panning {
  cursor: grabbing;
}

.login-page {
  display: flex;
  justify-content: center;
}

.box__form {
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.4rem;
  min-width: 20rem;
  min-height: 20rem;
  margin: 0 25%;
}
.box__form--login-user-form {
  margin-top: 20%;
  background-color: var(--background-color-1);
  position: relative;
}
.box__form--login-user-form h1 {
  font-size: 2.5rem;
}
.box__form--login-user-form button {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 0.7em;
}
.box__form--login-user-form a {
  font-size: 0.76em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.3rem;
}
.box__form--login-user-form input {
  margin-top: 0.2rem;
}
.box__form--login-user-form input::placeholder {
  color: var(--text-color-0);
}
.box__form--login-user-form label {
  align-items: center;
}
.box__form--login-username {
  margin-bottom: 0.5rem;
}

.register-page {
  display: flex;
  justify-content: center;
}

.box__form--register-user-form {
  margin-top: 20%;
  background-color: var(--background-color-1);
  position: relative;
}
.box__form--register-user-form h1 {
  font-size: 2.5rem;
}
.box__form--register-user-form button {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 0.7em;
}
.box__form--register-user-form a {
  font-size: 0.76em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.3rem;
}
.box__form--register-user-form input {
  margin-top: 0.2rem;
}
.box__form--register-user-form input::placeholder {
  color: var(--text-color-0);
}
.box__form--register-user-form label {
  align-items: center;
}
.box__form--register-username {
  margin-bottom: 0.5rem;
}

.sidebar {
  background-color: var(--background-color-2);
  padding: 0 0.4rem;
  box-shadow: var(--depth-0);
  max-width: 10rem;
  min-width: 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar__btn {
  padding: 0.62rem;
  background-color: var(--btn-color-0);
  color: white;
}
.sidebar__btn:first-child {
  margin-top: 0.4rem;
}
@media (max-width: 748px) {
  .sidebar {
    min-width: 100%;
    min-height: 12vh;
    flex-flow: wrap;
  }
  .sidebar .game-page {
    flex-wrap: wrap;
  }
  .sidebar .game-content {
    margin-left: 2rem;
  }
}

.toolbar {
  width: 98%;
  background-color: var(--background-color-2);
  display: flex;
  padding: 10px;
  box-shadow: var(--depth-0);
  gap: 0.5rem;
}
.toolbar__btn {
  background-color: var(--btn-color-0);
  color: white;
}
.toolbar__leave-btn {
  cursor: pointer;
  margin: 0.4rem 0;
}
.toolbar__text {
  margin: 0.4rem 0;
}

.players-list {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  background-color: grey;
  color: white;
  padding: 0.5rem;
}

.menu {
  max-height: 30%;
  max-width: 100%;
  height: 18rem;
  width: 100vw;
  background-color: var(--menu-color-0);
  position: fixed;
  bottom: 0;
  text-align: end;
  padding-top: 5px;
  z-index: 1;
  /* Selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu__btn--close {
  border: none;
  background: none;
  color: white;
  font-size: 1em;
  box-shadow: none;
  cursor: pointer;
}

.menu__body {
  width: 100%;
  text-align: center;
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 15rem;
  color: white;
}
.menu__body::-webkit-scrollbar {
  width: 0.5rem;
}
.menu__body::-webkit-scrollbar-track {
  background-color: var(--menu-color-3);
}
.menu__body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.menu__body--container {
  position: relative;
}

.menu__item {
  max-width: 5rem;
  cursor: pointer;
}
.menu__item--token {
  border-radius: var(--token-radius);
  cursor: grab;
}
.menu__item--map {
  max-height: 4rem;
  height: 4rem;
}
.menu__item--name {
  text-align: center;
}
.menu__item--character {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  max-height: 2.5rem;
  max-width: 12rem;
  height: 4rem;
  background-color: #a2a8ad;
  padding: 0.6rem 0.6rem 3.2rem;
}
.menu__item--character-btn {
  max-height: 4rem;
  height: 4rem;
}
.menu__item--character img {
  width: 5rem;
  height: 4rem;
  max-width: 5rem;
  max-height: 4rem;
}
.menu__item--circle-btn {
  border-radius: 50%;
  background-color: rgba(255, 180, 44, 0.8117647059);
  border: none;
  position: absolute;
  top: 3rem;
  right: -0.1rem;
  max-height: 1.7rem;
}
.menu__item--circle-btn:hover {
  box-shadow: 0 0 0.5rem 1px rgb(206, 125, 45);
}

.btn--new-item {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7607843137);
  border: none;
  box-shadow: 0 0 0.5rem 1px rgba(0, 0, 0, 0.2);
}
.btn--new-item:hover {
  background-color: rgba(237, 237, 237, 0.7607843137);
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  background-color: var(--menu-color-0);
  color: white;
  padding: 0.5rem;
  max-height: 20rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 10px 21px, rgba(0, 0, 0, 0.22) 0 10px 10px;
  max-width: 25rem;
  min-width: 25rem;
  min-height: 61%;
  overflow-y: auto;
  border-bottom: 8px solid var(--menu-color-0);
  z-index: 1;
  font-weight: 350;
}
.modal p {
  margin: 0.3rem;
  line-height: 1.5;
}
.modal__header {
  padding: 0.5rem;
  margin: 0;
  cursor: move;
  text-align: center;
}
.modal__filters {
  margin-bottom: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  align-items: center;
}
.modal--offset {
  right: 27rem;
}
.modal::-webkit-scrollbar {
  width: 0.5rem;
}
.modal::-webkit-scrollbar-track {
  background-color: var(--menu-color-3);
}
.modal::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.token {
  height: var(--size);
  width: var(--size);
  grid-area: var(--row)/var(--column);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
.token:hover {
  cursor: grab;
}
.token--dragging {
  opacity: 60%;
}
.token--dragging-cursor {
  cursor: grabbing;
}
.token--selected {
  border: 3px solid var(--token-selected-color);
  border-radius: 50%;
}

.creature-row {
  display: flex;
  background-color: var(--menu-color-1);
  padding: 0.3rem 0.3rem;
  cursor: pointer;
  transition: all ease-in-out 100ms;
  position: relative;
}
.creature-row:nth-child(even) {
  background-color: var(--menu-color-2);
}
.creature-row p {
  margin: 0.3rem;
  font-weight: 500;
  line-height: 1.15;
}
.creature-row__delete-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.66rem;
  transition: all ease-in-out 100ms;
}
.creature-row__delete-btn:hover {
  color: #ff4747;
}

.creature-stats-window {
  font-weight: 350;
}
.creature-stats-window__scores {
  padding-bottom: 0.6rem;
  border-bottom: 3px solid var(--color-red-1);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.6rem auto;
}
.creature-stats-window__header {
  padding-bottom: 0.6rem;
  border-bottom: 3px solid var(--color-red-1);
  margin: 0.3rem auto;
  cursor: move;
}
.creature-stats-window__header h3 {
  font-size: var(--font-md);
  margin: 0;
}
.creature-stats-window__header p {
  margin: 0;
  font-size: var(--font-sm);
}

.creatures-window__body--general-stats {
  padding-bottom: 0.6rem;
  border-bottom: 3px solid var(--color-red-1);
}
.creatures-window__body--other-stats {
  padding-bottom: 0.6rem;
  border-bottom: 3px solid var(--color-red-1);
}
.creatures-window__body--actions h4 {
  padding-bottom: 0.6rem;
  border-bottom: 1px solid var(--color-red-1);
  font-size: 20px;
  font-weight: 300;
  color: var(--color-red-2);
  padding-bottom: 1px;
  margin-bottom: 0.8rem;
}
.creatures-window__custom-creature {
  position: relative;
}

.actions__box {
  margin-bottom: 1rem;
}
.actions__box--dmg_dice {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.score-box {
  background-color: var(--menu-color-1);
  padding: 0 0.8rem 0.8rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;
  text-align: center;
  min-width: 29px;
}
.score-box--modifier {
  background-color: var(--menu-color-3);
  border-radius: 5px;
  text-align: center;
  font-size: 0.75em; /* 12px / 16px */
}
.score-box p {
  margin: 0.5rem;
  line-height: 1;
}

.creatures-window-form {
  right: 27rem;
}
.creatures-window-form__body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 0.3rem;
}
.creatures-window-form__body--box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  margin: 0.4rem;
}

.creature-form__btn--input {
  margin-top: 0.3rem;
}

.character-sheet {
  position: absolute;
  top: 0.3rem;
  right: 6.8rem;
  background-color: var(--menu-color-0);
  color: white;
  padding: 0.5rem 0.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  max-width: 25rem;
  min-width: 25rem;
  min-height: 33.6rem;
  z-index: 1;
  font-weight: 350;
  display: block;
}
.character-sheet__sidebar {
  position: absolute;
  right: -6.44rem;
  top: 0;
  height: 100%;
  background-color: var(--color-red-1);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  min-width: 6.44rem;
}
.character-sheet__sidebar--hidden {
  min-width: 0;
  right: -1.69rem;
}
.character-sheet__sidebar--collapsed {
  width: 1.4rem;
  right: -1.4rem;
  min-width: 0px;
}
.character-sheet__sidebar-btn {
  margin: 0 0.3rem;
  background-color: #b07776;
  color: white;
}
.character-sheet__sidebar-btn--toggle {
  background-color: #b07776;
  font-size: 1.2rem;
  border-radius: 0px;
  margin-bottom: 0.3rem;
}
.character-sheet__header {
  padding-bottom: 0.6rem;
  border-bottom: 3px solid var(--color-red-1);
  align-items: center;
  cursor: move;
  display: flex;
  gap: 0.8rem;
}
.character-sheet__header img {
  max-width: 10rem;
  height: auto;
}
.character-sheet__header p {
  margin: 0;
}
.character-sheet__header--block {
  display: block;
}
.character-sheet__header--block h2 {
  margin: 0;
}
.character-sheet__header--title {
  margin: 0.4rem 0 0;
  font-size: 1.4rem;
}

.character-sheet {
  /* HEALTH TRACKER */
  /* ABILITY SCORES */
  /* ABILITY MODIFIERS */
  /* SCROLLBAR */
}
.character-sheet p {
  margin: 0.3rem 0 0;
}
.character-sheet__small-stat-blocks {
  padding-bottom: 0.6rem;
  border-bottom: 3px solid var(--color-red-1);
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.character-sheet__small-stat-blocks--block {
  background-color: var(--menu-color-1);
  padding: 0.1rem 0.7rem 0.5rem;
  border-radius: 0.3rem;
  display: block;
  text-align: center;
}
.character-sheet__image {
  width: 5rem;
  height: 4rem;
  max-width: 5rem;
  max-height: 4rem;
}
.character-sheet__health {
  margin-right: 52%;
  color: var(--color-red-3);
}
.character-sheet__health img, .character-sheet__health--temp img {
  height: 1.1rem;
  position: absolute;
  top: 9px;
  left: 5px;
}
.character-sheet__health--temp {
  color: var(--color-blue-1);
}
.character-sheet__health:hover {
  box-shadow: var(--color-red-0);
}
.character-sheet__health--temp:hover {
  box-shadow: var(--color-blue-0);
}
.character-sheet__health, .character-sheet__health--temp, .character-sheet__health-tracker {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;
  border-radius: 5px;
  display: inline-flex;
  padding: 0.3rem 0.3rem 0.6rem 1.7rem;
  margin-top: 0.3rem;
  background-color: var(--menu-color-1);
  position: relative;
  transition: all ease-in-out 200ms;
}
.character-sheet__health-tracker {
  color: white;
  cursor: auto;
  padding-left: 0.3rem;
  flex-direction: column;
  font-size: 0.96875em; /* 15.5px / 16px */
  gap: 0;
}
.character-sheet__health-tracker button {
  margin-left: 0.1rem;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.character-sheet__health-tracker input {
  max-width: 6rem;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.character-sheet__scores {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}
.character-sheet__score-box {
  background-color: var(--menu-color-1);
  padding: 0 0.8rem 0.8rem;
  margin: 0.5rem auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;
  text-align: center;
  min-width: 29px;
}
.character-sheet__modifier-box {
  background-color: var(--menu-color-3);
  border-radius: 5px;
  text-align: center;
  font-size: 0.75em; /* 12px / 16px */
}
.character-sheet::-webkit-scrollbar {
  width: 0.5rem;
}
.character-sheet::-webkit-scrollbar-track {
  background-color: var(--menu-color-3);
}
.character-sheet::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.inspiration-icon {
  height: 1rem;
  cursor: pointer;
}

.character-sheet__skills-table {
  border-collapse: collapse;
  overflow-y: auto;
  max-height: 30rem;
}
.character-sheet__skills-table--header th {
  border-bottom: 2px solid white;
  width: 78%;
}
.character-sheet__skills-table tbody tr {
  background-color: var(--menu-color-1);
}
.character-sheet__skills-table tbody tr:nth-child(odd) {
  background-color: var(--menu-color-2);
}
.character-sheet__skills-table tbody td {
  text-align: center;
  padding: 0.15rem;
}
.character-sheet__skills-table tbody td:first-child {
  text-align: start;
}
.character-sheet__skills-table--skill-type {
  font-size: 0.84em;
  color: #cacaca;
  font-style: italic;
}
.character-sheet__skills-table .fa-circle {
  position: relative;
  padding-left: 0.155rem;
}
.character-sheet__skills-table--checkbox {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
}
.character-sheet__skills-table::-webkit-scrollbar {
  width: 0.5rem;
}
.character-sheet__skills-table::-webkit-scrollbar-track {
  background-color: var(--menu-color-3);
}
.character-sheet__skills-table::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.new-character-form {
  position: absolute;
  top: 0.3rem;
  right: 40%;
  background-color: var(--menu-color-0);
  color: white;
  padding: 0.5rem;
  width: 30%;
  height: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  max-width: 30rem;
  min-width: 30rem;
  min-height: 61%;
  padding-top: 0;
  z-index: 1;
}
.new-character-form__sidebar {
  position: absolute;
  right: -6.44rem;
  top: 0;
  height: 100%;
  background-color: var(--color-red-1);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  min-width: 6.44rem;
}
.new-character-form__sidebar--hidden {
  min-width: 0;
  right: -1.69rem;
}
.new-character-form__sidebar--collapsed {
  width: 1.4rem;
  right: -1.4rem;
  min-width: 0px;
}
.new-character-form__sidebar-btn {
  margin: 0 0.3rem;
  background-color: #b07776;
  color: white;
}
.new-character-form__sidebar-btn--toggle {
  background-color: #b07776;
  font-size: 1.2rem;
  border-radius: 0px;
  margin-bottom: 0.3rem;
}
.new-character-form__header {
  margin-bottom: 1rem;
  cursor: move;
  padding-top: 0.3rem;
}
.new-character-form__form {
  display: block;
}
.new-character-form__scores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 70%;
  margin-top: 0.3rem;
}

.new-character-form-content {
  overflow-y: auto;
  max-height: 100%;
  max-width: 86%;
}
.new-character-form-content [type=submit] {
  margin: auto 10rem;
}
.new-character-form-content tr [type=text] {
  margin: auto 0.1rem;
}
.new-character-form-content tr .fa-circle {
  margin: auto 2rem;
  position: relative;
}
.new-character-form-content .skills-table--checkbox {
  cursor: pointer;
  position: absolute;
  right: 9.31rem;
}
.new-character-form-content::-webkit-scrollbar {
  width: 0.5rem;
}
.new-character-form-content::-webkit-scrollbar-track {
  background-color: var(--menu-color-3);
  margin-top: 5rem;
}
.new-character-form-content::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.nc-input-box {
  display: inline-grid;
  margin: 0.2rem;
}

:root {
  /* Main */
  --background-color-0: #b59696;
  --background-color-1: rgb(237 237 237 / 52%);
  --background-color-2: #e8dcdc;
  /* Grid */
  --zoom: 1rem;
  --grid-color: #d9c6c6;
  --grid-border-color: black;
  --cell-border-color: black;
  --background-image: "";
  /* Tokens */
  --token-radius: 50%;
  --token-selected-color: #6767fd;
  --enemy-background: #c27474;
  /* Menu */
  --menu-color-0: #413a3a;
  --menu-color-1: #575252;
  --menu-color-2: #6f6767;
  --menu-color-3: #796f6f;
  /* Buttons */
  --btn-color-0: #605252;
  /* Colors */
  --color-blue-0: rgb(48 102 231 / 39%) 0 3px 8px;
  --color-blue-1: rgb(144 194 255);
  --color-red-0: rgba(212, 20, 20, 0.24) 0 3px 8px;
  --color-red-1: #7c4e4e;
  --color-red-2: #e97d7d;
  --color-red-3: rgb(237 156 156);
  /* Font size */
  --font-sm: 0.9375rem; /* 15px */
  --font-md: 1.4375rem; /* 23px */
  /* Box shadow */
  --depth-0: 0 1px 6px 1px rgba(0, 0, 0, 0.404);
  --depth-1: rgba(0, 0, 0, 0.1) 0 4px 12px;
  --depth-2: 0 1px 6px 1px rgb(172 172 172 / 50%);
  --depth-3: 0 0 9px -2px rgba(132, 132, 132, 0.612);
}

* {
  content: border-box;
  font-family: Ubuntu, sans-serif;
}

body {
  margin: 0;
  background-color: var(--background-color-0);
  font-size: 100%;
}

.game-page {
  display: flex;
  gap: 1rem;
}

.page-title {
  font-size: 1.875em; /* 30px / 16px */
}

input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  transition: all ease-in-out 200ms;
  box-shadow: var(--depth-1);
  margin-top: 0.08rem;
}

.input--hover:hover {
  transform: scale(1.025, 1.025);
}

.input--sm {
  width: 3rem;
}

.input--md {
  width: 8rem;
}

.form__input-add input {
  margin: 0.1rem auto;
}

.form__btn--remove {
  background-color: rgb(212, 62, 62);
  color: white;
  max-height: 1.5rem;
  margin-top: 0.34rem;
}

select {
  padding: 0.2rem;
  border-radius: 5px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  transition: all ease-in-out 200ms;
  box-shadow: var(--depth-1);
  cursor: pointer;
}

.btn--hover:hover {
  transform: scale(1.025, 1.025);
}
.btn--modal-close {
  border: none;
  background-color: var(--menu-color-0);
  margin: 0;
  box-shadow: none;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
}
.btn--logout {
  margin: 3rem 0 3rem 1rem;
}
.btn--attack {
  margin-top: 0.3rem;
}
.btn--search {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #c6c6c6;
}

.bold {
  font-weight: 600;
}

.relative {
  position: relative;
}

p {
  margin: 0.4rem;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
