.map-toolbar {
  position: absolute;
  width: 100%;
  display: flex;
  gap: 0.2rem;
  z-index: 1;
  background-color: var(--btn-color-1);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

  button {
    max-width: 2rem;
    width: 100%;
    margin: 0.3rem;
    max-height: 2rem;
    display: flex;
    margin-top: 0.2rem;
    justify-content: center;
  }
}
