.creatures-dialog {
  &__filters {
    margin-bottom: 1rem;
  }

  &__list {
    max-height: 19.5rem;
    overflow-y: auto;
  }

  &__row {
    background-color: var(--modal-color-1);
    padding: 0.5rem;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.4rem;

    &:nth-child(odd) {
      background-color: var(--modal-color-2);
    }

    p {
      font-size: var(--font-md);
    }
  }

  &__token {
    max-width: 1.7rem;
    border-radius: 50%;
  }
}
