.button {
  font-size: var(--font-md);
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--purple-dark-2);
  color: var(--white-0);
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all ease-out 0.2s;
  height: fit-content;

  &:hover {
    text-shadow: var(--pink-1) 1px 0 10px;
  }

  &--secondary {
    background-color: transparent;
    border: 2px solid var(--purple-dark-2);
  }

  &--empty {
    background-color: transparent;
    box-shadow: none;
  }

  &--dark {
    background-color: var(--purple-dark-0);
  }
}
