.button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--purple-dark-2);
  color: var(--white-0);
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all ease-out 0.2s;
  height: fit-content;

  &:hover {
    text-shadow: var(--pink-1) 1px 0 10px;
  }

  &--secondary {
    background-color: var(--purple-dark-4);
    box-shadow: none;
  }  

  &--border {
    background-color: transparent;
    border: 2px solid var(--purple-dark-2);
  }

  &--empty {
    background-color: transparent;
    box-shadow: none;
  }

  &--dark {
    background-color: var(--purple-dark-0);
  }

  &--link {
    padding: 0;
    display: flex;
    
    a {
      color: var(--white-0);
      padding: 0.5rem;
      
      &:hover {
        text-decoration: none;
      }
    }
  }

  &--thin {
    max-height: 1.5rem;
    display: flex;
    align-items: center;
  }

  &--danger {
    background-color: var(--red-2);
  }

  &--image {
    display: flex;

    img {
      width: 1rem;
    }
  }

  &--small {
    max-height: 2rem;
    font-size: var(--font-sm) !important;
    padding: 0.1rem 0.3rem;

    img {
      width: 0.8rem;
    }
    
    a {
      font-size: var(--font-sm);
    }
  }

  &--large {
    font-size: var(--font-lg) !important;

    img {
      width: 1.5rem;
    }
    
    a {
      font-size: var(--font-lg);
    }
  }

  &--pink {
    background-color: var(--pink-0);
    color: var(--purple-dark-2);
  }

  &--blue {
    background-color: var(--blue-dark-1);
  }

  &--flat {
    box-shadow: none;
  }

  &--X {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: var(--font-sm) !important;
    background-color: transparent;
    box-shadow: none;
    padding: 0;

    &:hover {
      text-shadow: none;
      color: var(--red-5);
    }
  }

  &--bold {
    font-weight: bold;
  }
}
