.checkbox {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    margin-left: 0.4rem;

    &:disabled {
      appearance: none;
      width: 0.75rem;
      height: 0.75rem;
      background-color: var(--grey-2);
      border: 1px solid var(--grey-0);
      border-radius: 2px;
    }
  }
}
