.dialog {
  padding: 1.8rem 1rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--modal-color-0);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  margin: 0;
  text-align: start;
  position: absolute;
  color: white;
  border: none;
  z-index: 2;
  box-sizing: content-box;
  inset: 0;

  &__title {
    text-align: center;
    user-select: none;
    font-size: var(--font-lg);
    border-bottom: 2px solid var(--red-1);
    padding-bottom: 0.3rem;
  }

  &__content {
    overflow-y: auto;
    margin-top: 2rem;

    form {
      display: flex;
      flex-direction: column;
    }
  }

  &--basic {
    padding: 1.8rem 0.8rem;
    border: 3px solid var(--black-0);

    .dialog__title {
      text-align: center;
      padding: 0.3rem;
      line-height: 1.3rem;
    }

    .dialog__content {
      margin-top: 1.6rem;
      max-height: 27.5rem;
      padding-right: 0.5rem;
    }
  }

  &--creature-stats {
    padding: 1.8rem 0 1rem 0.3rem;

    .dialog__title {
      border-bottom: none;
      text-align: start;
      padding: 0.3rem 1rem;
      line-height: 1.3rem;
    }

    .dialog__content {
      margin-top: -1rem;
      max-height: 27.5rem;
      padding-right: 0.5rem;
    }
  }
}
