.select {
  cursor: pointer;

  &--label-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;

    select {
      margin: 0.3rem 0;
    }
  }

  &--label-inline {
    margin-left: 0.5rem;
  }

  &--label-full-width {
    width: 100%;
  }

  &--label-stack {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  &--large {
    padding: 1rem;
    font-size: var(--font-md);
  }

  &--fit {
    width: fit-content;
    height: fit-content;
  }

  &--label-bold {
    font-weight: bold;
  }

  &--gap {
    margin-left: 0.3rem;
  }
}
