.table {
  border-collapse: collapse;
  width: 100%;
  
  td {
    border: 2px solid black;
    padding: 0.2rem;
    text-align: start;
  }

  th {
    border: 2px solid black;
    border-width: 2.5px;
    padding: 0.2rem;
  }

  tr:nth-child(even) {
    
  }

  tr:nth-child(odd) {
    
  }
}
