:root {
  --bg-color-0: #b59696;
  --bg-color-1: #d0c3c368;
  --bg-color-2: #e8dcdc;

  --grid-color: #d9c6c6;
  --grid-border-color: black;
  --cell-border-color: black;

  --token-selected-color: #6767fd;
  --enemy-background: #c27474;

  --menu-color-0: var(--grey-0);
  --menu-color-1: var(--grey-1);
  --menu-color-2: var(--grey-2);
  --menu-color-3: var(--grey-3);

  --modal-color-0: var(--brown-0);
  --modal-color-1: var(--brown-1);
  --modal-color-2: var(--brown-2);
  --modal-color-3: var(--brown-3);
  --modal-color-4: var(--brown-4);
  --modal-color-5: var(--brown-5);

  --btn-color-0: #605252;
  --btn-color-1: #6f5656;

  --black-0: black;
  --black-1: #1f2329;
  --black-2: #2d333b;
  --grey-0: #413a3a;
  --grey-1: #575252;
  --grey-2: #6f6767;
  --grey-3: #796f6f;
  --grey-4: #b3a5a5;
  --brown-0: #342727;
  --brown-1: #4f3d3d;
  --brown-2: #5a4646;
  --brown-3: #584444;
  --brown-4: #604a4a;
  --brown-5: #685050;

  --blue-0: #2e4cb6;
  --blue-1: #3153ca;
  --blue-2: #5177ff;
  --red-0: #d414143d;
  --red-1: #af4b4b;
  --red-2: #a92c2c;
  --red-3: #ac3939;
  --red-4: #f53535;
  --red-5: #e97d7d;
  --red-6: #ed9c9c;
  --purple-0: #500150;
  --green-0: #3f904c;
  --green-1: #45a956;
  --yellow-0: #ffd43b;
  --orange-0: #ff9f47;

  --dmg-color-physical: rgba(213, 213, 213, 0.431);
  --dmg-color-fire: #b06117;
  --dmg-color-poison: #1b8834;
  --dmg-color-acid: #6f7c13;
  --dmg-color-cold: #2b8088;
  --dmg-color-radiant: #7a7715;
  --dmg-color-necrotic: #46495b;
  --dmg-color-force: #9960a4;
  --dmg-color-lightning: #a9a957;
  --dmg-color-psychic: #892cc5;
  --dmg-color-thunder: #4c53ad;
}
