:root {
  --bg-0: var(--blue-dark-0);
  --bg-1: var(--blue-dark-2);
  --bg-2: var(--purple-1);
  --bg-3: var(--pink-1);

  --white-0: rgb(242, 242, 242);
  --black-0: rgb(15, 15, 15);
  --blue-dark-0: #1F2544;
  --blue-dark-1: #262d55;
  --blue-dark-2: #474F7A;
  --blue-dark-3: #596192;
  --purple-dark-0: #443553;
  --purple-dark-1: #513c66;
  --purple-dark-2: #573f6e;
  --purple-0: #765e90;
  --purple-1: #81689D;
  --pink-0: #f3acd6;
  --pink-1: #FFD0EC;
}
