@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-title: 6rem;
  --font-xxl: 4rem;
  --font-xl: 3rem;
  --font-lg: 2rem;
  --font-md: 1.2rem;
  --font-sm: 1.1rem;
  --font-xsm: 1rem;
  --font-xxsm: 0.8rem;
}
