.character-sheet-page {
  background-color: var(--modal-color-0);
  color: white;
  padding: 0.8rem;
  height: 100%;

  &--5e {
    .character-sheet {
      &__header {
        display: flex;
        gap: 1rem;
        position: relative;
        width: 100%;

        h1 {
          margin: 0;
        }

        &-pic {
          width: 6rem;
        }

        &-content-container {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding-right: 2.8rem;
        }

        &-content {
          display: flex;
          flex-direction: column;
          gap: 0.3rem;
        }

        &-right-content {
          display: flex;
          flex-direction: column;
          gap: 0.3rem;
          text-align: center;
        }
      }
    }
  }
}
