.set-grid-popup {
  background-color: var(--menu-color-1);
  position: absolute;
  top: 2.8em;
  left: 0.25rem;
  min-width: 8rem;
  color: white;
  border-radius: 0.3rem;
  padding: 0 0.35rem 0.4rem 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  h3 {
    margin: 0.5rem 0.5rem 0.7rem;
  }

  &__row {
    display: flex;
    justify-content: center;
    gap: 0.3rem;

    input {
      max-width: 3.5rem;
    }
  }

  button[type="submit"] {
    max-width: 3.5rem;
  }

  &__grid-btn-container {
    margin: 0.6rem 0 9.6rem 0;
    position: relative;
  }

  &__grid-btn {
    position: absolute;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    transform: scale(1.3);

    &--up-lg {
      right: 35%;
    }
    &--up {
      right: 35%;
      top: 1.4rem;
      transform: scale(0.7);
    }

    &--down-lg {
      right: 35%;
      top: 5.9rem;
      transform: scale(1.3, -1.3);
    }
    &--down {
      right: 35%;
      top: 4.5rem;
      transform: scale(0.7, -0.7);
    }

    &--right-lg {
      right: 0;
      top: 2.9rem;
    }
    &--right {
      right: 1.4rem;
      top: 2.9rem;
      transform: scale(0.7);
    }

    &--left-lg {
      left: 0;
      top: 2.9rem;
      transform: scale(-1.3, 1.3);
    }
    &--left {
      left: 1.4rem;
      top: 2.9rem;
      transform: scale(-0.7, 0.7);
    }
  }

  &__grid-reset-btn {
    max-width: 3.5rem !important;
    margin: auto auto 0.5rem auto !important;
  }

  [type="color"] {
    padding: 1px 2px;
  }

  label {
    font-size: 0.9rem;
  }
}
